body{
    background: black;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
td{
    width: 300px;
    height: 150px;
    background-image: url("/img/p5_reversoCarta.png");
    background-size: 320px;
    background-position: 50% 50%;

}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white;
}
button{
    margin: 10px 48%;
    cursor: pointer;
    font-size: 1em;
    border-radius: 8px;
}