table{
    text-align: center;
    margin: auto;
    margin: 5%;
}
table,tr,td{         
    border: 2px solid black;
    border-collapse:collapse ;
    background-color: white;

}
td {width: 70px;
    height: 70px;
    text-align: center;
}

img{
    width: 70px;
}